{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row align-content-center">
        <div class="col-md-6 text-start ">
            <h1>About Coggans Real Estate</h1>
            <p>
                We are the people who connect Landlords with Tenants in the easiest possible manner!
                Join Us Today!!!
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/rent-6.jpg' %}"
                    class="card-img-top" alt="..." height="336px" width="252px">
        </div>
    </div>
</div>
{% endblock content %}