{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row g-5">
    {% for listing in properties %}
    <div class="col-md-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1605276374104-dee2a0ed3cd6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJlYWwlMjBlc3RhdGUlMjBwaG90b3N8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">{{listing.title}}</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-bed"></i> {{ listing.bedrooms }} Beds</li>
                    <li><i class="fa fa-bath"></i> {{ listing.bathrooms }} Baths</li>
                    <li><i class="fa fa-home"></i> {{ listing.square_feet }} sqft</li>
                    <li><i class="fa fa-home"></i>{{listing.property_type}} </li>
                </ul>
                <p class="card-text">Kshs {{ listing.price }}</p>
                <a href="{% url 'listing-details' id=listing.id %}" class="btn btn-dark">View Details</a>

            </div>
        </div>
    </div>

    {% empty %}
    <p>No properties for rent currently.</p>
    {% endfor %}
</div>
</div>
{% endblock content %}